body {
    margin: 0 auto;
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.header, .intro {
    background-color: #1F2937;    
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 16px 0;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-links li a {
    text-decoration: none;
    margin-left: 16px;
}

.subtitle, .header-links li a, button {
    color: #e5e7eb;
    font-size: 18px;
}

.subtitle {
    margin: 0;
}

.intro {
    padding: 100px 0;
}

.title {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.intro .container {
    height: 250px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.container .intro-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

button {
    width: 130px;
    background-color: #3882f6;
    padding: 12px 32px;
    font-weight: bold;
    border-radius: 12px;
    border: 0;
}

.container .intro-right {
    width: 500px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #6d747d;
    color: #e5e7eb;
}

