body {
    margin: 0 auto;
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.header, .intro, .footer {
    background-color: #1F2937;    
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 16px 0;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-links li a {
    text-decoration: none;
    margin-left: 16px;
}

.subtitle, .header-links li a, button {
    color: #e5e7eb;
    font-size: 18px;
}

.subtitle {
    margin: 0;
}

.intro {
    padding: 100px 0;
}

.title {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.intro .container {
    height: 250px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.container .intro-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

button {
    width: 135px;
    height: 45px;
    background-color: #3882f6;
    padding: 12px 32px;
    font-weight: bold;
    border-radius: 12px;
    border: 0;
}

.container .intro-right {
    width: 500px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #6d747d;
    color: #e5e7eb;
}

.info .container {
    margin-bottom: 100px;
}

.info .container h2{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 150px;
    align-items: center;
    text-align: center;
}

.box {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 12px;
    margin-bottom: 12px;
}

.quote {
    background-color: #e5e7eb;
}

.quote .container {
    padding: 100px;
    max-width: 800px;
}

.container .quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    margin: 0;
}

.container .quote-author {
    margin: 0;
    width: 100%;
    font-weight: bold;
    text-align: end;
}

.call-to-action {
    height: 250px;
    display: flex;
}

.call-to-action .container {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    padding: 30px 40px;
    border-radius: 8px;
    margin: auto;
}

.cta-container p, .cta-container h3 {
    margin: 0;
    color: #f9faf8;
}

.call-to-action .container button {
    border: 2px solid #f9faf8;
}

.footer .container {
    text-align: center;
    color: #e5e7eb;
    padding: 30px 40px;
}